.containerImgVertical {
  /* width: 796px;
    height: 1123px; */
  width: 60.39453717754173vw;
  height: 170.92846270928462vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.containerImgHorizontal {
  /* width: 796px;
    height: 1123px; */
  width: 85.20485584218513vw;
  height: 121.15677321156774vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.imgResize {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
